<%- include('./partials/header.ejs') %>

<div class="header">
  <h1>Contact Me</h1>
  <h2>Contact Form</h2>
</div>
<div class="form-wrap">
  <form method="POST" name="contact">
    <input type="hidden" name="form-name" value="contact" />
    <div class="text-fields">
      <input
        type="text"
        class="text-input name-input"
        placeholder="Name"
        name="name"
      />
      <input
        type="text"
        class="text-input subject-input"
        placeholder="Subject"
        name="subject"
      />
      <input
        type="email"
        class="text-input email-input"
        placeholder="Email Address"
        name="email"
      />
      <textarea
        class="contact-message message-input"
        placeholder="Enter Message"
        name="message"
      ></textarea>
    </div>
    <button type="submit" class="btn-dark">
      Submit
    </button>
  </form>
</div>

<%- include('./partials/footer.ejs') %>
