<%- include('./partials/header.ejs') %>

<div class="header">
  <h1>Robinson Souza</h1>
  <h2>Full Stack Web Developer</h2>
  <img class="portrait-media" src="/images/portrait.jpg" alt="Rob Souza" />
</div>

<p>
  Hello. I am a self-taught web developer currently residing in South Florida,
  USA. I am passionate about web development and spend a lot of time improving
  my skills when possible.
</p>

<p>Feel free to contact me with any inquiries.</p>

<%- include('./partials/footer.ejs') %>
