<%- include('./partials/header.ejs') %>

<div class="header">
  <h1>Projects</h1>
  <h2>A Perpetual Work in Progress</h2>
</div>
<p>
  You can check my Github activity
  <a class="link" href="https://www.github.com/robinsond7691">here</a>.
</p>
<div class="projects-section">
  <span>
    <a href="/">Robsouza.dev</a>
  </span>
  <p>
    This website was built using express with custom CSS. Mobile ready.
  </p>
</div>

<%- include('./partials/footer.ejs') %>
